@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  margin-top:10px;
  padding:10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.header {
  display:flex;
  justify-content: space-between;
}

.content {
  display:flex;
  flex-direction: column;
  align-items: center;
}

ul {
  display:inline-flex;
  list-style: none;
}

li {
  margin-left:20px;
}

li a {
  color: rgb(88, 88, 88);
  text-decoration:none;
}

.footer {
  display:flex;
  background-color: lightgrey;
  justify-content: space-between;
}