/* Add CSS Styling */
.odd {
    background-color: hotpink;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#two {
    color: blue;
    font-size: 36px;
}

.three {
    font-size:24px;
}

#four {
    font-size:24px;
    font-weight:bold;
    background-color:lightgreen;
}