body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 15px;
}

.title {
  background: #e3f4ff;
  padding:10px;
  font-size:16px;
}

.content {
  background: #e3f4ff;
  font-size:16px;
  padding: 10px;
}

.button-container {
  text-align:center;
  margin:15px 0 0 0;
  background: #e3f4ff;
  padding:10px;
}

button {
  display:block;
  margin:auto;
  background: white;
  padding:10px;
  border: 1px solid #eee;
}